:root {
    --tp-theme-color:#0057fc;
    --tp-theme-color-2:#ffcb15;
    --tp-theme-nblue:#001c52;
    --tp-heading-color:#0a0e1a;
    --tp-body-color:#57595c;
    --tp-black: black;
    --tp-white: white;
    --tp-grey-color: #f6f6f6;
    --tp-grey-color-2: #f6f6f6;
    --tp-grey-color-3: #f6f6f6;
    --tp-grey-color-4: #f6f6f6;
}